* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  list-style-position: inside;
}

div {
  padding: 10px;
}

td {
  border: 3px solid transparent;
}

.nav-bar {
  background: white;
  color: #113f67;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-bottom: 1px solid #e4e4e4;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.nav-element {
  color: #113f67;
}

.nav-element svg {
  vertical-align: middle;
  margin-top: -2px;
}

.nav-element:hover {
  color: #4a80b3;
}

.description,
.education,
.skills,
.experience,
.projects,
.contact {
  max-width: 900px;
  margin: 14px auto;
  background-color: white;
  border-radius: 4px;
}

.description {
  margin-top: 0;
  height: calc(70vh - 70px);
  color: rgb(29, 28, 28);
}

p {
  color: #212122;
  font-size: 0.9rem;
  text-align: justify;
}

.description p {
  font-size: 0.95rem;
}

.projects-description {
  text-align: justify;
}

.contact {
  margin: 0px auto;
}

hr {
  width: 85vw;
  margin: 0 auto;
}

.contact hr {
  display: inline-block;
  width: 80%;
  max-width: 800px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.contact {
  height: 100vh;
  text-align: center;
}

.contact h3 {
  margin: 20px auto;
}

.contact h4 {
  font-size: 1rem;
  color: #686868;
}

.contact-linkedin {
  color: #396982;
  text-decoration: underline;
  font-weight: bold;
}

.projects h4 {
  margin-top: 10px;
}

.footer {
  font-size: 0.8rem;
  background-color: #ededed;
  color: #396982;
  max-width: 900px;
  margin: -20px auto;
  padding-top: 25px;
}

span {
  margin-right: 3px;
}

.fullname {
  text-align: center;
}

h1 {
  color: #396982;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2 {
  color: #48494a;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  color: #396982;
  margin-top: 10px;
  font-size: 1.1rem;
}

h4 {
  margin-bottom: 10px;
  color: rgb(50, 49, 49);
  font-weight: 500;
  font-size: 0.9rem;
}

.projects-segment p {
  color: rgb(61, 59, 59);
}

p {
  letter-spacing: 0.6px;
}

li {
  font-size: 0.9rem;
}

.date-time {
  font-size: 0.8rem;
  color: #686868;
}

.button {
  background-color: #396982;
  color: white;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid transparent;
}

.button2 {
  border: 2px solid #396982;
  color: #396982;
  width: 200px;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
}

.button:hover {
  background: #4c6d8c;
}

.button2:hover {
  border-color: #7f9bb6;
  color: #7f9bb6;
}

.buttons {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

a:link {
  color: #396982;
}
a:active {
  color: #396982;
}

a:visited {
  text-decoration: none;
  color: #396982;
}

a:hover {
  fill: #396982;
  color: #396982;
}

.footer a:hover {
  color: #000000;
}

.skills ul {
  margin-top: 10px;
}

li::marker {
  color: #82848c;
}

::-moz-selection {
  /* Code for Firefox */
  color: #82848c;
  background: #8bb0d3;
}

::selection {
  background: #a4bed6;
}

.contact p {
  text-align: center;
}

.contact-linkedin {
  color: #396982;
  text-decoration: underline;
  font-weight: bold;
}

.contact-email {
  font-weight: bold;
  margin: 40px 0px 20px 0px;
}

.return-to-portfolio,
.return-to-portfolio > p {
  color: #396982;
  text-decoration: underline;
  font-weight: bold;
}

/*Media Query max 560px */

@media screen and (max-width: 560px) {
  #contact_dl_button {
    margin-top: -20px;
  }

  .description {
    height: 65vh;
    min-height: 440px;
  }

  h2 {
    margin-top: -5px;
  }

  h3 {
    margin-top: 0;
  }
}

/* Media query 560px Screen */
@media screen and (min-width: 560px) {
  .nav-bar {
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0) 0px 4px 4px;
    position: relative;
  }

  body {
    /* font-size: 0.95rem; */
    background-color: rgb(243, 243, 243);
  }

  .description {
    height: auto;
  }

  .buttons {
    margin: 20px auto;
    flex-direction: row;
    justify-content: center;
  }

  .button1,
  .button2 {
    margin: auto 10px;
  }

  hr {
    display: none;
  }

  .description,
  .education,
  .skills,
  .experience,
  .projects {
    border: solid 1px white;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .contact {
    height: calc(100vh-50px);
    text-align: center;
  }
}

/* Media query 768px Screen */
@media screen and (min-width: 768px) {
  .nav-bar {
    max-width: 900px;
    margin: 0 auto;
  }
}
